python-telegram-bot==20.3
requests==2.32.3  # Added version for requests
ccxt==2.6.1  # Updated version of ccxt
talib==0.4.0
pandas==1.5.3
numpy==1.24.2
apscheduler==3.9.1
feedparser==6.0.10

